/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-container {
    width: 30%;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-table {
    width: 60%;
    border-collapse: collapse;
}

.menu-table th, .menu-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.menu-table th {
    background-color: #007bff;
    color: #fff;
}

.pizza-description {
    flex: 1;
    margin-left: 20px;
}

/* Additional styling for the pizza description */
.pizza-description h2 {
    color: #333;
}

.pizza-description p {
    color: #666;
}

.back-to-start-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.back-to-start-button:hover {
    background-color: #0056b3;
}
